*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth; 
}
body{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(7, 7, 7);
}
h2{
    text-transform: uppercase;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
.conteiner{
    max-width: 1170px;
    margin: 0 auto;
}
.header__wrapper{
    display: flex;
    background-image: url("../assets/img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.header__content{
    flex-grow: 1;
}
.header__foto__img{
    width: 330px;
}
.nav{
    background-color: rgb(61, 171, 169);
    margin: 40px 0;
}
.nav__list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav__item{
    padding: 0 14px;
}
.nav__item__link{
    padding-bottom: 5px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}
.nav__item__link:hover{
    background-size: 100% 2px;
}
.header__info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(61, 171, 169);
    color: #ffffff;
}
.header__title{
    font-family: 'Lato', sans-serif;
    font-size: 64px;
    letter-spacing: 1.5px;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    text-shadow: 0 0 5px #000;
}
.header__subtitle{
    padding-bottom: 60px;
    padding-right: 20px;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
}
.main__wrapper{
    background-color: #ffffff;
    display: flex;
} 
.sidebar{
    background-color:rgb(44, 63, 80); 
}
.sidebar__line{
    height: 10px;
    border: none;
    border-radius: 20px 0 0 0;
    background: linear-gradient(45deg, rgb(4, 122, 143),rgb(64, 244, 208));
}
.contacts{
    width: 300px;
    margin-left: 30px;
    margin-top: 40px;
}
.contacts__title,
.skills__title{
    color: #ffffff;
    padding-left: 5px;
    padding-bottom: 5px;
}
.contacts__list,
.skills__list{
    list-style: none;
    padding-top: 20px;
    padding-left: 5px;
}
.contacts__list__item a{
    padding-bottom: 5px;
    line-height: 46px;
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
}
.contacts__list__item a:hover{
    color: rgb(64, 244, 208);
    text-shadow: 0 20px 1px #007aff;
}
.skills{
    width: 300px;
    margin-left: 30px;
    margin-top: 160px;
}
.skills__list__item{
    padding-bottom: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.item__image{
    width: 30px;
    padding-right: 8px;
}
.content{
    padding: 40px;
}
.content h2{
    text-align: right;
    padding-bottom: 5px;
}
.content__line{
    height: 4px;
    border: none;
    background: linear-gradient(45deg, rgb(3, 80, 94),rgb(0, 236, 253));
}
.about__desc{
    padding-top: 32px;
    font-size: 20px;
    text-align: justify;
}
.education__title{
    padding-top: 10px;
}
.education__subtitle{
    padding-top: 20px;
    
    font-size: 24px;
}
.education__desc{
    font-size: 22px;
    padding-bottom: 10px;
    text-align: justify;
}
.education__list{
    list-style: none;
    padding-left: 40px;
    line-height: 30px;
    font-size: 20px;
}
.education__certificate{
    text-align: center;
    width: 400px;
    display: block;
    margin: 0 auto;
}
.languages__title{
    padding-top: 20px;
}
.languages__list{
    list-style: none;
    font-size: 20px;
    padding-top: 20px;
    line-height: 32px;
}
.code__wrap{
    margin-top: 40px;
    margin-bottom: 30px;
}
.projects__wrap{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.projects__item__link{
    display: block;
    text-decoration: none;
    transition: .5s;
}
.projects__item__link:hover{
    transform: scale(1.1);
}
.projects__link__img{
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: .5s;
}
.projects__link__img:hover{
    border-radius: 20px;
    box-shadow: 12px 18px 16px rgba(3, 80, 94, 0.795);
}
.projects__link__title{
    margin-top: 40px;
}